<!DOCTYPE html>
<html>
<head>
	<title>Hell Correspondence</title>
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
  <script src="/scripts/CheckTime.js"></script>
</head>
<body>
	<div>
		<form method="post" action="submit">
			<label for="name-input"><h1>What is your grudge?</h1></label>
			<input type="text" id="name-input" name="name" />
			<input type="submit" id="submit-button" name="submit" value="send" />
		</form>
	</div>
</body>
</html>
