<!DOCTYPE html>
<html>
<head>
	<title>Hell Correspondence (new ver.)</title>
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
	<div class="navbar">
	</div>
	<div class="root">
		<div class="content">
			<h1>Enter someone's name to send them to <strong>hell.</strong></h1>
			<form>
				<input type="text" name="name" id="name-input"/>
				<input type="submit" value="send" id="submit-button"/>
			</form>
			<h3><em>Notice:</em> When you <strong>curse</strong> someone, there will be two holes that you dig...</h3>
			<h3>One is for the cursed person and the other one is for <em>yourself.</em></h3>
		</div>
	</div>
</body>
</html>
